[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/adobe/imgui.git
[submodule "lib/DirectX-SDK"]
	path = lib/DirectX-SDK
	url = https://github.com/ReactiioN1337/DirectX-SDK
[submodule "lib/drv-loader"]
	path = lib/drv-loader
	url = https://github.com/Midi12/drv-loader
